html,body{
			height:100%;
			width:100%;
			background-color:black;
		}
		body >div{
			height:300px;
			width:650px;
			position:relative;
			left:25%;
			top:25%;
			background-color:white;
		}
		body >div>*{
			height:33%;
			border:0px red solid;
		}
		button{
			height:40px;
			width:90px;
			margin:20px 5px;
		}
		.row-1 button{
			border-radius:10px;
			border:hidden;
		}
		.row-2 button{
			border-radius:10px;
			border:hidden;
		}
		.row-3 button{
			border-radius:20px;
			border:hidden;
		}
		.row-1 button:nth-child(1),.row-3 button:nth-child(1){
			background-color:white;
			border:1px #dcdfe6 solid;
			color:#606297
		}
		.row-1 button:nth-child(1):hover,.row-3 button:nth-child(1):hover{
			border:1px #409eff solid;
			color:#409eff;
			background-color:#ecf5ff;
		}
		.row-1 button:nth-child(2),.row-3 button:nth-child(2){
			background-color:#409eff;
			border:1px #409eff solid;
			color:white;
		}
		.row-1 button:nth-child(2):hover,.row-3 button:nth-child(2):hover{
			border:1px #66a9ff solid;
			background-color:#66a9ff;
		}
		.row-1 button:nth-child(3),.row-3 button:nth-child(3){
			background-color:#67C23A;
			border:1px #67C23A solid;
			color:white;
		}
		.row-1 button:nth-child(3):hover,.row-3 button:nth-child(3):hover{
			border:1px #C2E7B0 solid;
			background-color:#C2E7B0;
		}
		.row-1 button:nth-child(4),.row-3 button:nth-child(4){
			background-color:#909399;
			border:1px #909399 solid;
			color:white;
		}
		.row-1 button:nth-child(4):hover,.row-3 button:nth-child(4):hover{
			border:1px #A5A7AD solid;
			background-color:#A5A7AD;
		}
		.row-1 button:nth-child(5),.row-3 button:nth-child(5){
			background-color:#E6A23C;
			border:1px #E6A23C solid;
			color:white;
		}
		.row-1 button:nth-child(5):hover,.row-3 button:nth-child(5):hover{
			border:1px #F5C174 solid;
			background-color:#F5C174;
		}
		.row-1 button:nth-child(6),.row-3 button:nth-child(6){
			background-color:#F56C6C;
			border:1px #F56C6C solid;
			color:white;
		}
		.row-1 button:nth-child(6):hover,.row-3 button:nth-child(6):hover{
			border:1px #F79393 solid;
			background-color:#F79393;
		}
		.row-2 button:nth-child(1){
			background-color:white;
			border:1px #dcdfe6 solid;
			color:#606297;
		}
		.row-2 button:nth-child(1):hover{
			border:1px #409eff solid;
			color:#409eff;
		}
		.row-2 button:nth-child(2){
			border:1px #409eff solid;
			color:#409eff;
			background-color:#ecf5ff;
		}
		.row-2 button:nth-child(2):hover{
			border:1px #66a9ff solid;
			background-color:#66a9ff;
			color:white;
		}
		.row-2 button:nth-child(3){
			border:1px #67C23A solid;
			color:#67C23A;
			background-color:#F0F9EB;
		}
		.row-2 button:nth-child(3):hover{
			background-color:#67C23A;
			border:1px #67C23A solid;
			color:white;
		}
		.row-2 button:nth-child(4){
			border:1px #909399 solid;
			color:#909399;
			background-color:#F4F4F5;
		}
		.row-2 button:nth-child(4):hover{
			background-color:#909399;
			border:1px #909399 solid;
			color:white;
		}
		.row-2 button:nth-child(5){
			border:1px #E6A23C solid;
			color:#E6A23C;
			background-color:#FDF6EC;
		}
		.row-2 button:nth-child(5):hover{
			background-color:#E6A23C;
			border:1px #E6A23C solid;
			color:white;
		}
		.row-2 button:nth-child(6){
			border:1px #F56C6C solid;
			color:#F56C6C;
			background-color:#FEF0F0;
		}
		.row-2 button:nth-child(6):hover{
			background-color:#F56C6C;
			border:1px #F56C6C solid;
			color:white;
		}